/* BASIC SETUP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #ffffff;
  color: #555555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
}

/* ************************************************************ */

/* REUSABLE COMPONENTS  */
.row {
  max-width: 1140px;
  /* top right bottom left 
  margin: 0 auto 0 auto;
  */
  margin: 0 auto;
}

section {
  padding: 80px 0px;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

/* ************************************************************ */

/* HEADINGS */
h1, h2, h3 {

  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ************************************************************ */
/* PARAGRAPHS */
.long-copy {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

/* ************************************************************ */
/* FEATURES */
.section-features .long-copy {
  margin-bottom: 20px;
}

/* ************************************************************ */


/* BUTTONS */
.btn:link, .btn:visited, input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link, .btn-full:visited, input[type=submit] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #ffffff;
  margin-right: 15px;
}

.btn-ghost:link, .btn-ghost:visited {
  color: #e67e22;
  border: 1px solid #e67e22;
}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active {
  background-color: #b05d14;
}

.btn-full:hover, .btn-full:active {
  border: 1px solid #b05d14;
}

.btn-ghost:hover, .btn-ghost:active {
  border: 1px solid #b05d14;
  color: #ffffff;
}

/* ************************************************************ */

/* LINKS */
a:link, a:visited {
  text-decoration: none;
  color: #e67e22;
  padding: 1px;
  border-bottom: 1px solid #e67e22;
}

a:hover, a:active {
  color: #555555;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s, color 0.3s;
}

/* ************************************************************ */

/* HEADER */
header {
  background-attachment: fixed;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

.logo-black {
  height: 50px;
  width: auto;
  float: left;
  margin: 5px 0;
  display: none;
}

/* main nav */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
}


.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22
}

/* sticky nav */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 2px 2px #b8b8b8;
  z-index: 9999;
}

.sticky .main-nav {
  margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  padding: 16px 0px;
  color: #555555;

}

.sticky .logo {
  display: none;
}

.sticky .logo-black {
  display: block;
}

.mobile-nav-icon {
  float: right;
  margin-top: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon ion-icon {
  font-size: 200%;
  color: #ffffff;
}

/* ************************************************************ */

/* ICONS */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  /* align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -4px;
}

/* ************************************************************ */

/* MEALS */
.section-meals {
  padding: 0;
}

.meals-showcase {
  list-style: none;
  width: 100%;
}

.meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

.meal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}

.meal-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img:hover {
  transform: scale(1.03);
  opacity: 1;
}

/* ************************************************************ */

/* HOW IT WORKS  */
.section-steps {
  background-color: #f0f0f0;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  float: left;
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin-right: 25px;
}

.btn-app:link, .btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

/* ************************************************************ */

/* CITIES  */
.box img {
  width: 100%;
  margin-bottom: 15px;
  height: auto;
}

.city-feature {
  margin-bottom: 10px;
}

/* ************************************************************ */

/* TESTIMONIALS  */
.section-testimonials {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/back-customers-min.jpg);
  background-size: cover;
  color: #ffffff;
  background-attachment: fixed;
}

blockquote {
  padding: 2%;
  font-style: italic;
  list-style: 145%;
  position: relative;
  margin-top: 40px;
}

blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -50px;
  left: -5px;
}

cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}

cite img {
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

/* ************************************************************ */

/* PLANS  */
.section-plans {
  background-color: #f0f0f0;
}

.plan-box {
  background-color: #ffffff;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  box-shadow: 0 2px 2px #efefef;
}

.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
  background-color: #fafafa;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.plan-box div:last-child {
  text-align: center;
  border: 0;
}

.plan-price {
  font-size: 300%;
  margin-bottom: 10px;
  /* font-weight: 100; */
  color: #e67e22;
}

.plan-price span {
  font-size: 50%;
  /* font-weight: 300; */
}

.plan-price-meal {
  font-size: 80%;
}

.plan-box ul {
  list-style: none;
}

.plan-box li {
  padding: 5px 0;
}

/* ************************************************************ */

/* CONTACT  */
.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

textarea {
  height: 100px;
}

input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

*:focus {
  outline: none;
}

/* ************************************************************ */

/* FOOTER  */
footer {
  background-color: #333333;
  padding: 40px;
  font-size: 85%;
}

footer p {
  color: #999999;
  text-align: center;
  margin-top: 20px;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li, .social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child, .social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.social-links li a:link,
.footer-nav li a:visited,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #999999;
  transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ffffff
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.social-links li a.icon-facebook:hover {
  color: #3b5998;
}

.social-links li a.icon-twitter:hover {
  color: #00aced;
}

.social-links li a.icon-mail:hover {
  color: #dd4b39;
}

.social-links li a.icon-instagram:hover {
  color: #ffc838;
}

/* ************************************************************ */

/* ANIMATIONS */
.js--wp-1,
.js--wp-2,
.js--wp-3,
.js--wp-4,
.js--wp-5,
.js--wp-6 {
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.js--wp-5 {
  animation-delay: 0.9s;
}

.js--wp-6 {
  animation-delay: 1.8s;
}

.js--wp-1.animate__animated,
.js--wp-2.animate__animated,
.js--wp-3.animate__animated,
.js--wp-4.animate__animated,
.js--wp-5.animate__animated,
.js--wp-6.animate__animated {
  opacity: 1;
}

/* ************************************************************ */